@using System.Threading
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/images/favicon.ico">

    <title>Password Recovery</title>
    @Styles.Render("~/Content/css")
    <script src="@Url.Content("~/Scripts/modernizr.min.js")"></script>
    <script>
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
        $(document).ready(function () {
            disableAutoComplete();
            $(this).bind("contextmenu", function (e) {
                e.preventDefault();
                e.stopPropagation();
            });
        });
        $(document).keydown(function (e) {
            if (location.hostname === "localhost" || location.hostname === "127.0.0.1")
                return true;
            if (e.which === 123)
                return false;
        });
        function disableAutoComplete() {
            $("input[type=text]").attr("autocomplete", "new-password");
            $("input[type=password]").attr("autocomplete", "new-password");
            $("input[type=date]").attr("autocomplete", "new-password");
            $("input[type=tel]").attr("autocomplete", "new-password");
            $("input[type=email]").attr("autocomplete", "new-password");
            $("input[type=number]").attr("autocomplete", "new-password");
        }
    </script>
  
</head>
    <body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="" contextmenu="return false;">
        <div class="wrapper-page">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "text-center m-t-20", role = "form" }))
            {
                <img src="~/images/bophelp.png" style="height: 6pc;" />
                <div class="alert alert-success alert-dismissable trnlstxt">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Enter your <b>Email</b> and instructions will be sent to you!
                </div>
                <div class="form-group m-b-0">
                    <div class="input-group">
                        <input type="email" class="form-control trnlstxt" placeholder="Enter Email" required="" id="email" name="email">
                        <i class="md md-email form-control-feedback l-h-34" style="left: 6px; z-index: 99;"></i>
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-email btn-primary waves-light trnlstxt" value="Reset" />
                        </span>
                    </div>
                </div>
            }
        </div>
        <script>
        var resizefunc = [];
        </script>
        @Scripts.Render("~/bundles/LotusScripts")
        <script>
        (function () {
            $(function () {
                $("form").on("submit",
                        function (e) {
                            e.preventDefault();
                            console.log($("#email").val());
                            $.ajax({
                                type: "POST",
                                url: "/Account/PasswordRecovery?email="+$("#email").val(),
                                success: function () {
                                    location.href = "/";
                                },
                                error: function (xhr) {
                                    location.href = "/";
                                },
                                contentType: "application/json; charset=utf-8",
                                dataType: 'text json',
                                async: true
                            });
                        });
            });
        })();
        </script>
        <!-- Plugins  -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundle/common")
        @Scripts.Render("~/bundle/core-app")

    </body>
</html>